<!-- KITcar launch script for preprocessing as a node -->
<launch>

    <!--<env if="$(arg debug_mode)" name="ROSCONSOLE_CONFIG_FILE" value="$(find perception)/rosconsole/perception.conf"/>-->


    <node name="runner" pkg="rtcf" type="rt_runner-gnulinux" output="screen">
        <rosparam param="mode">"active"</rosparam>
        <rosparam param="whitelist_ros_mapping">".*ros.*"</rosparam>
        <rosparam param="num_components_expected">8</rosparam>
        <rosparam param="frequency">1.0</rosparam>
    </node>

    <node name="sum_dummy_1" pkg="rtcf" type="rt_dummy" args="rt_type=sum is_first=true" output="screen">
        <remap from="out_Port" to="/mapped/out_Port_1"/>
        <remap from="in_Port_1" to="/mapped/to_ros_in_Port"/>
        <rosparam param="some_int">4</rosparam>
    </node>

    <node name="sum_dummy_2" pkg="rtcf" type="rt_dummy" args="rt_type=sum is_first=false" output="screen">
        <remap from="out_Port" to="/mapped/out_Port_2_to_ros"/>
        <remap from="in_Port_1" to="/mapped/out_Port_1"/>
        <rosparam param="some_int">8</rosparam>
    </node>

</launch>

