<launch>

    <!--<env if="$(arg debug_mode)" name="ROSCONSOLE_CONFIG_FILE" value="$(find perception)/rosconsole/perception.conf"/>-->


    <node name="runner" pkg="rtcf" type="rt_runner-gnulinux" output="screen">
        <rosparam param="mode">"wait_for_components"</rosparam>
        <rosparam param="num_components_expected">10</rosparam>
        <rosparam param="frequency">1000</rosparam>
    </node>


    <node name="node_1" pkg="rtcf" type="rt_launcher" output="screen">
        <rosparam param="is_first">true</rosparam>
        <rosparam param="rt_type">"foobar"</rosparam>

        <remap from="in_Port_1" to="/stream1"/>
        <remap from="out_Port" to="/stream2"/>
    </node>

    <node name="node_2" pkg="rtcf" type="rt_launcher" output="screen">
        <rosparam param="rt_type">"foobar"</rosparam>

        <remap from="in_Port_1" to="/stream2"/>
        <remap from="out_Port" to="/stream3"/>
    </node>



    <node name="node_5" pkg="rtcf" type="rt_launcher" output="screen">
        <rosparam param="rt_type">"foobar"</rosparam>
        <rosparam param="topics_ignore_for_graph">".*4_4"</rosparam>

        <remap from="in_Port_1" to="/stream3"/>
        <remap from="in_Port_2" to="/stream4_4"/>
        <remap from="out_Port" to="/stream4_1"/>
    </node>

    <node name="node_6" pkg="rtcf" type="rt_launcher" output="screen">
        <rosparam param="rt_type">"foobar"</rosparam>
        <rosparam param="topics_ignore_for_graph">".*4_3"</rosparam>

        <remap from="in_Port_1" to="/stream4_1"/>
        <remap from="in_Port_2" to="/stream4_3"/>
        <remap from="out_Port" to="/stream4_2"/>
    </node>


    <node name="node_7" pkg="rtcf" type="rt_launcher" output="screen">
        <rosparam param="rt_type">"foobar"</rosparam>

        <remap from="in_Port_1" to="/stream4_2"/>
        <remap from="out_Port" to="/stream4_3"/>
    </node>

    <node name="node_8" pkg="rtcf" type="rt_launcher" output="screen">
        <rosparam param="rt_type">"foobar"</rosparam>

        <remap from="in_Port_1" to="/stream4_3"/>
        <remap from="out_Port" to="/stream4_4"/>
    </node>



    <node name="node_3" pkg="rtcf" type="rt_launcher" output="screen">
        <rosparam param="rt_type">"foobar"</rosparam>

        <remap from="in_Port_1" to="/stream3"/>
        <remap from="out_Port" to="/stream5"/>
    </node>


    <node name="node_9" pkg="rtcf" type="rt_launcher" output="screen">
        <rosparam param="rt_type">"foobar"</rosparam>

        <remap from="in_Port_1" to="/stream4_4"/>
        <remap from="in_Port_2" to="/stream5"/>
        <remap from="out_Port" to="/stream6"/>
    </node>


    <node name="node_4" pkg="rtcf" type="rt_launcher" output="screen">
        <rosparam param="rt_type">"foobar"</rosparam>

        <remap from="in_Port_1" to="/stream3"/>
        <remap from="out_Port" to="/stream7"/>
    </node>


    <node name="node_10" pkg="rtcf" type="rt_launcher" output="screen">
        <rosparam param="rt_type">"foobar"</rosparam>

        <remap from="in_Port_1" to="/stream5"/>
        <remap from="in_Port_2" to="/stream6"/>
        <remap from="in_Port_3" to="/stream7"/>
        <remap from="out_Port" to="/stream1"/>
    </node>


</launch>

