<launch>

    <node name="rt_runner" pkg="rtcf" type="rt_runner" output="screen">
        <rosparam param="mode">"wait_for_components"</rosparam>
        <rosparam param="wait_policy">"relative"</rosparam>
        <rosparam param="ros_mapping_blacklist">".*tmp.*"</rosparam>
        <rosparam param="ros_mapping_whitelist">".*mapped.*"</rosparam>
        <rosparam param="num_components_expected">2</rosparam>
        <rosparam param="frequency">10.0</rosparam>
        <rosparam param="safe_heap_size_kB">1024</rosparam>
        <rosparam param="safe_stack_size_kB">512</rosparam>
        <rosparam param="cpu_affinity_mask">02</rosparam>
    </node>

    <node name="identity1" pkg="rtcf" type="rt_launcher" args="rtcf_examples Identity" output="screen">
        <remap from="out_port" to="/mapped/tmp"/>
        <remap from="in_port" to="/mapped/in"/>
        <rosparam param="is_first">True</rosparam>
    </node>

    <node name="identity2" pkg="rtcf" type="rt_launcher" args="rtcf_examples Identity" output="screen">
        <remap from="out_port" to="/mapped/out"/>
        <remap from="in_port" to="/mapped/tmp"/>
        <rosparam param="topics_ignore_for_graph">".*something"</rosparam>
    </node>

</launch>

