<launch>

    <!-- This is optional, but one of the rosconsole features. -->
    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find rtcf_examples)/rosconsole_settings.conf"/>

    <node name="rt_runner" pkg="rtcf" type="rt_runner" output="screen">
        <rosparam param="mode">"wait_for_components"</rosparam>
        <rosparam param="num_components_expected">1</rosparam>
        <rosparam param="frequency">1.0</rosparam>
    </node>

    <node name="loggin_test" pkg="rtcf" type="rt_launcher" args="rtcf_examples Logging" output="screen" />

</launch>

