<!-- KITcar launch script for preprocessing as a node -->
<launch>

    <!--<env if="$(arg debug_mode)" name="ROSCONSOLE_CONFIG_FILE" value="$(find perception)/rosconsole/perception.conf"/>-->


    <node name="runner" pkg="rtcf" type="rt_runner-gnulinux" output="screen">
    </node>

    <arg name="rt_type" value="sum" />
    <arg name="is_first" value="true" />
    <node name="sum_dummy_1" pkg="rtcf" type="rt_dummy" args="rt_type=$(arg rt_type) is_first=$(arg is_first)" output="screen">
        <remap from="lane_detection/preprocessed_image" to="preprocessing/preprocessed_image"/>
        <remap from="lane_detection/region_of_interest" to="preprocessing/region_of_interest"/>
        <remap from="lane_detection/auto_reset" to="/controller_interface/controller_interface/auto_reset" />

    </node>
</launch>

