<!-- KITcar launch script for preprocessing as a node -->
<launch>

    <!--<env if="$(arg debug_mode)" name="ROSCONSOLE_CONFIG_FILE" value="$(find perception)/rosconsole/perception.conf"/>-->


    <node name="runner" pkg="rtcf" type="rt_runner-gnulinux" output="screen">
    </node>

    <arg name="rt_type" value="sum" />
    <arg name="is_first" value="true" /> <!--- defaulten auf false -->
    <node name="sum_dummy_1" pkg="rtcf" type="rt_dummy" args="rt_type=$(arg rt_type) is_first=$(arg is_first)" output="screen">
        <remap from="out_Port" to="/mapped/out_Port"/>
        <remap from="in_Port_1" to="/mapped/in_Port_1"/>
        <remap from="in_Port_2" to="/mapped/in_Port_2"/>
        <remap from="in_Port_3" to="/mapped/in_Port_3"/>
        <remap from="in_Port_4" to="/mapped/in_Port_4"/>
    </node>

    <!--FIX not working args -->
    <node name="sum_dummy_2" pkg="rtcf" type="rt_dummy" args="rt_type=$(arg rt_type) is_first=$(arg is_first)" output="screen">
        <remap from="out_Port" to="/mapped/out_Port_2"/>
        <remap from="in_Port_1" to="/mapped/out_Port"/>
    </node>
</launch>

